<section id="third-section">
  <div class="title">
    <h1>Clients Testimonial</h1>
  </div>
  <div class="cards">
    <div class="card">
      <h3>Incredible Experience</h3>
      <p>
        We had an incredible experience working with Landify and were impressed
        they made such a big difference in only three weeks. Our team is so
        grateful for the wonderful improvements they made and their ability to
        get familiar with the concept so quickly.
      </p>
    </div>
    <div class="card">
      <h3>Dependable, Responsive, Professional Partner</h3>
      <p>
        Fermin Apps has collaborated with Landify team for several projects such
        as Photo Sharing Apps and Custom Social Networking Apps. The experience
        has been pleasant, professional and exceeding our expectations.
      </p>
    </div>
  </div>
  <div class="people">
    <div class="ceo">
      <img src="../assets/img/ceo.png" alt="" />
      <div>
        <h4>Anya Tailor Joy</h4>
        <p>CEO, SF Industires</p>
      </div>
    </div>
    <div class="ceo">
      <img src="../assets/img/ceo.png" alt="" />
      <div>
        <h4>Sri Alamy</h4>
        <p>CEO, Membagongkan GROUP</p>
      </div>
    </div>
  </div>
  
</section>
