<section id="second-section">
    <div class="block-content-2">
        <h1>Why do we help with legalization?</h1>
        <p>We are here for UMKM in Indonesia to carry out the legalization process, which is sometimes complicated.</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../assets/img/CircleLayer.png" alt="">
            <h3>Enviromental Law</h3>
            <p>Environmental legal issues might occur since the planned business activities are designed</p>
        </div>
        <div class="card">
            <img src="../assets/img/Bag.png" alt="">
            <h3>Corporate and Commercial</h3>
            <p>We provide a complete range of services for the continuity of your business activities.</p>
        </div>
        <div class="card">
            <img src="../assets/img/Rocket.png" alt="">
            <h3>Information and Technology</h3>
            <p>IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty.</p>
        </div>
        <div class="card">
            <img src="../assets/img/UserArrows.png" alt="">
            <h3>Other Services</h3>
            <p>In dealing with disruptive economic and legal challenge, our firm also provide various legal services.</p>
        </div>
    </div>
</section>