<footer>
    <div class="footer1">
        <div class="logo">
            <img src="../assets/img/logo_white.png" alt="">
        </div>
        <div class="links">
            <div class="product">
                <h3>Product</h3>
                <a href="">Overview</a>
                <a href="">Features</a>
                <a href="">Tutorials</a>
                <a href="">Pricing</a>
                <a href="">Releases</a>
            </div>
            <div class="company">
                <h3>Company</h3>
                <a href="">About</a>
                <a href="">Press</a>
                <a href="">Careers</a>
                <a href="">Contact</a>
                <a href="">Partners</a>
            </div>
            <div class="support">
                <h3>Support</h3>
                <a href="">Help Center</a>
                <a href="">Terms of service</a>
                <a href="">Legal</a>
                <a href="">Privacy Policy</a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <h3>© 2021 Lawliet. All rights reserved</h3>
        <img src="../assets/img/SocialLinks.png" alt="">
    </div>
</footer>